figure {
  position: relative;
  text-align: center;
  color: white;
}

.text {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text h1 {
  font-size: 55px;
}
.text p {
  font-size: 20px;
}
.logo {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.mouse:hover{
  transform: scale(1.2);
}
/* @media (max-width:768px) {
    figure{
        min-height: 50vh;
    }
    /* h1 {
        font-size: calc(1.525rem + 3.3vw);
    } */

.figure-services {
  position: relative;
  /* text-align: center; */
  color: white;
}

.services-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* justify-content: center; */
}

.figure-contact {
  position: relative;
  text-align: center;
  color: white;
}
.contact-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
#icons {
  padding: 0 0 0 0.3em;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
#icons {
  position: relative;
  padding-top: 50px;
  text-align: center;
}
#icons li {
  display: inline-block;
}
#icons li img:hover{
  transform: scale(1.5);
 

}

.about{
  position: relative;
}
.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 0;
  transition: 0.5s;
}
.hover-text:hover {
  opacity: 1;
  transform: scale(1.1);
}
.images{
  position: relative;
}
.work-1{
  position: absolute;
  top: 0;
  left: 30px;
  width: 80%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(20px);
  color: white;

  transition: 0.5s;
  
}
.work-1:hover{
  opacity: 1;
  transform: translateY(0);
  transform: scale(1.5);
}


/* .design {
  position: relative;
}
.design-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 0;
  transition: 0.5s;
}
.design-text:hover {
  opacity: 1;
}
.development {
  position: relative;
}
.development-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 0;
  transition: 0.5s;
}
.development-text:hover {
  opacity: 1;
}
 */
